In [1]:
import dask.dataframe as dd
import pandas as pd

In [5]:
train = dd.read_csv('datasets/train/train.csv', dtype={'id': 'int'})

In [6]:
train.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,2096162817,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,871065379,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,1015674494,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,-721663256,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,-1368576336,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [19]:
%%time
train.groupby('device_type').C14.mean().compute()

Wall time: 44.7 s

device_type
0    17776.541449
1    18885.802921
4    19638.982483
5    19672.163819
2    16855.000000
Name: C14, dtype: float64

In [18]:
%%time
train.device_type.unique().compute()

Wall time: 42.7 s

0    1
1    0
2    4
3    5
4    2
Name: device_type, dtype: int64

In [2]:
from dask.distributed import Client, progress
client = Client(processes=False, threads_per_worker=4,
                n_workers=1, memory_limit='2GB')
client

In [2]:
import dask.array as da
x = da.random.random((10000, 10000), chunks=(1000, 1000))
x

dask.array<random_sample, shape=(10000, 10000), dtype=float64, chunksize=(1000, 1000), chunktype=numpy.ndarray>

In [3]:
y = x + x.T
z = y[::2, 5000:].mean(axis=1)
z

dask.array<mean_agg-aggregate, shape=(5000,), dtype=float64, chunksize=(500,), chunktype=numpy.ndarray>

In [15]:
z.compute()

array([1.00163885, 1.01284231, 0.99515855, ..., 0.99901752, 0.99553248,
       1.00244734])

In [16]:
import dask
import dask.dataframe as dd
df = dask.datasets.timeseries()

In [30]:
df.head(1)

              id     name         x         y
timestamp
2000-01-01  1024  Charlie -0.421329 -0.638909

In [32]:
import pandas as pd
pd.options.display.precision = 3
pd.options.display.max_rows = 10

In [38]:
df2 = df[df.y > 0]
df3 = df2.groupby('name').x.std()
df3

Dask Series Structure:
npartitions=1
    float64
        ...
Name: x, dtype: float64
Dask Name: sqrt, 157 tasks

In [43]:
df.loc['2000-01-05']

86400